* {
    box-sizing: border-box;
}

:root {
    --primary-color-green: #143c3c;
    --primary-color-black: #152427;
    --secondary-color-light-green: #e2eddf;
    --text-color: #575d5e;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========== Common ========== */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;

    min-width: 173px;
    height: var(--height);
    padding: 0 20px;
    display: inline-block;
    color: #fff;
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(var(--height) - 7px);
    border-radius: 40px;
    border: 1.5px solid var(--primary-color-green);
    background: var(--primary-color-green);
}

.section-heading {
    color: var(--primary-color-black);
    font-family: Poppins, sans-serif;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.section-title {
    margin-left: 35px;
    margin-bottom: 12px;
    position: relative;
    color: var(--primary-color-black);
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.section-title::before {
    position: absolute;
    top: 12px;
    left: -35px;
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: var(--primary-color-black);
}

.decor-above {
    position: absolute;
    top: 20px;
    left: 256px;
    display: flex;
    align-items: flex-start;
}

.decor-above__line {
    margin-left: -38px;
}

.decor-below {
    position: absolute;
    bottom: -35px;
    right: 0px;
    display: flex;
    align-items: flex-end;
}

.decor-below__line {
    margin-right: -44px;
    transform: rotate(4deg);
}

/* ========== Header ========== */
.header {
    padding: 28px 0px 6px;
    font-family: "Public Sans", sans-serif;
    position: sticky;
    top: -22px;
    z-index: 1;
    background: #fff;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 88px;
}

.header__inner::after {
    position: absolute;
    bottom: -6px;
    content: "";
    display: block;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    z-index: 1;
}

.logo {
    width: 40.7%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo__icon {
    width: 26.24px;
    height: 26.24px;
}

.logo__name {
    width: 111.9px;
    height: 14.86px;
}

.navbar__list {
    display: flex;
    gap: 38px;
}

.navbar__link {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.navbar__link--active {
    position: relative;
    color: var(--primary-color-black);
}

.navbar__link--active::after {
    position: absolute;
    bottom: -25px;
    left: 0px;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: var(--primary-color-green);
    z-index: 2;
}

/* ========== Intro ========== */
.intro {
    font-family: "Public Sans", sans-serif;
    padding: 28px 23px 87px 0;
}

.intro__inner {
    position: relative;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.intro__content {
    width: 45.3%;
}

.intro__heading,
.intro__desc {
    width: 75.3%;
}

.intro__heading {
    margin: 43px 0px 20px;
    color: var(--primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.intro__desc {
    margin-bottom: 42px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.intro__content-row {
    display: flex;
    align-items: center;
    gap: 36px;
}

.intro__video {
    display: flex;
    align-items: center;
}

.intro__play {
    margin: 0 15px 0 -22px;
}

.intro__watch {
    color: var(--primary-color-black);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.intro__images {
    position: relative;
    display: flex;
    gap: 20px;
}

.intro__images::before {
    position: absolute;
    top: 122px;
    left: 156px;
    content: "";
    display: block;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.intro__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.intro__img:nth-of-type(2) {
    margin-top: 77px;
}

/* ========== Customer ========== */
.customer {
    margin-top: 42px;
}

.customer__list {
    min-height: 200px;
    padding: 0px 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100px;
    background: var(--secondary-color-light-green);
}

.customer__logo:first-child {
    padding-top: 10px;
}

/* ========== Service ========== */
.service {
    margin: 100px 0px;
}

.service__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.service__heading {
    position: relative;
    width: 45.6%;
}

.service__heading::after {
    position: absolute;
    bottom: 19px;
    right: 103px;
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background: var(--primary-color-black);
}

.service__control-arrow {
    color: var(--primary-color-green);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 99%;
    background: var(--secondary-color-light-green);
    transition: 0.25s;
}

.service__control-arrow:nth-child(2) {
    rotate: 180deg;
}

.service__control-arrow:hover {
    color: #fff;
    background: var(--primary-color-black);
}

.service-list {
    margin-top: 76px;
    display: flex;
    gap: 15px;
    overflow: hidden;
}

.service-item {
    width: 370px;
    height: 454px;
    border-radius: 20px;
    background: #fff;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item__img {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service-item__body {
    margin: 24px 100px 24px 4px;
}

.service-item__heading-box {
    margin-bottom: 18px;
}

.service-item__heading {
    color: var(--primary-color-black);
    font-size: 0.2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* ========== Info ========== */
.info {
}

.info__inner {
    display: flex;
    align-items: flex-start;
    gap: 64px;
}

.info__media {
    position: relative;
}

.info__decor {
    rotate: 15deg;
    top: 20px;
    left: 0px;
}

.info__images {
    display: flex;
    gap: 21px;
}

.info__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.info__img:first-of-type {
    margin-top: 84px;
}

.info__img:nth-of-type(2) {
    margin-top: 13px;
}

.info-card {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 19px 17px 11px;
    font-family: "Public Sans", sans-serif;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.info-card__title {
    color: var(--primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
}
.info-card__total {
    margin-top: 6px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.4;
}

.info-card__percentage {
    position: relative;
    margin-top: 10px;
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
}

.info-card__percentage::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    display: block;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.info-card__status {
    position: relative;
    margin: 8px 10px 3px 0;
    text-align: right;
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
}

.info-card__status::before {
    position: absolute;
    top: -6px;
    content: "";
    display: block;

    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.info-card__dot {
    width: 11px;
    height: 11px;
}

.info-card__team-group {
    margin-top: 5px;
}

.info-card__team {
    color: var(--primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.info-card__ava {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid #fff;
}

.info-card__team-group {
    display: flex;
    justify-content: space-between;
}

.info-card__ava-list {
    display: flex;
}

.info__content {
    width: 42.2%;
}

.info__desc {
    margin: 11px 0px 8px;
    color: #7d8188;
    font-weight: 500;
    line-height: 1.62;
}

.info-row {
    position: relative;
    padding: 29px 0;
    display: flex;
    gap: 24px;
}

.info-row::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 485px;
    height: 1px;
    background: #83a17d;
}

.info-row__percentage {
    color: var(--primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.info-row__desc {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}
/* ========== Process ========== */
/* ========== Sample ========== */
/* ========== Feature ========== */
/* ========== Blog ========== */
/* ========== Footer ========== */
